<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="shortcut icon" href="static/img/photo_5344024942678766811_x.png" type="image/png">
    <link type="image/x-icon" rel="shortcut icon" href="favicon.ico">

    
    <title>JoyBox</title></head>
<body>
    <header class="header">
        <div class="header-content">
           <img src="static/img/photo_5344024942678766811_x.png">
            <div class="auth-buttons">
                {% if current_user.is_authenticated %}
                    <a class="user-profile" href="/logout">{{ current_user.name }} {{ current_user.surname }}</a>
                {% else %}
                 <span style="float: right;">   <a href="/register" class =  "btn" ><img src="https://sun9-80.userapi.com/impg/yxWR_8DwyycqTFddpa4oN0Yo7r8AdZN0fr985w/0aIgIlnsCKk.jpg?size=166x38&quality=95&sign=d15d423c177f84927b1cf1e9b34c12c2&type=album"></a>
                    <a href="/login" class =  "btn" ><img src="https://sun1-18.userapi.com/impg/zTVMauIHEXaXijV-rpT8_h_38bWnEhOyNRpy_A/ew3wPR5DO2A.jpg?size=166x38&quality=95&sign=399a665119a7466b70be65e35c9ede57&type=album"></a>
                 </span>
                {% endif %}
            </div>
        </div>

    </header>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
