<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="shortcut icon" href="static/img/photo_5344024942678766811_x.png" type="image/png">
    <link type="image/x-icon" rel="shortcut icon" href="favicon.ico">
    <td background = https://cdn.glitch.global/f2dc7d3e-e12f-4180-bca6-96d33e775c25/background.png?v=1749472897516></td>
    <title>JoyBox</title></head>
<body>
    <header class="header">
        <div class="header-content">
            <h1 class="logo">JoyBox - сервис с браузерными играми</h1>
            <div class="auth-buttons">
                {% if current_user.is_authenticated %}
                    <a class="user-profile" href="/logout">{{ current_user.name }} {{ current_user.surname }}</a>
                {% else %}
                    <a href="/register"><img src="https://vk.com/photo-230335773_457239062"></a>
                    <a href="/login"><img src="https://vk.com/photo-230335773_457239072"></a>
                {% endif %}
            </div>
        </div>
        <h4 class="subheader">Авторизуйся для старта игр</h4>
    </header>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
